
<div hidden>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { style: "display: none;", id: "rails-password-form" }) do |f| %>
      <%= f.email_field :email, id: "rails-password-email" %>
      <%= f.submit "Send me reset password instructions", id: "rails-password-submit" %>
    <% end %>
  </div>

<%= vue_component 'PasswordResetForm',
  formUrl: password_path(resource_name),
  errors: resource.errors.full_messages,
  csrfToken: form_authenticity_token,
  links: {
    login: new_session_path(resource_name),
    register: new_registration_path(resource_name)
  } %>