<div>
  <!-- Navigation -->
  <%= vue_component 'NavbarLanding',
      {
        left:   [
        { label: 'StudyApp', url: root_path },  # Landing Page
        { label: 'About', url: about_path } 
        ],
      center: [
        { label: 'Dashboard', url: dashboard_path },    # Dashboard
        { label: 'Workspaces', url: workspaces_path }   # Workspaces
      ],
      right: [
        { label: 'Dashboard', url: dashboard_path, variant: 'gradient' },
        { label: 'About', url: about_path, variant: 'outline' }
      ]
      } do %>
    <template data-slot="logo">
      <%= inline_svg 'graduation-cap.svg', class: 'w-6 h-6 text-indigo-600 mr-1' %>
    </template>
  <% end %>
</div>
